*
{
    cursor: none !important;
}
body
{
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
}
iframe
{
    width: 100vw;
    height: 100vh;

    position: absolute;
    left: 100vw;
    top: 0px;
}

.loading
{
    font-family: "Cabin", sans-serif;
    color: #52B547;
    font-size: 10em;
    font-weight: 700;

    width: 100vw;

    position: absolute;
    margin: 0px;
    top: calc(50vh - 97px);
    left: 0px;

    text-shadow: 0px 0px 10px #52B547;
}

.timerback
{
    width: 100vw;
    height: 10px;

    position: absolute;
    left: 0px;
    top: 100vh;
    z-index: 1;

    background-color: #CFD8DC;
}
.timer
{
    width: 0px;
    height: 100%;

    left: 0px;
    top: 0px;

    background-color: #F44336;

    animation: time 10s linear 0s infinite forwards;
}
@keyframes time
{
    from {width: 0vw;}
    to   {width: 100vw;}
}
.slideUp
{
    animation: timeSlideUp 2s ease 0s 1 forwards;
}
@keyframes timeSlideUp
{
    from {top: 100vh;}
    to   {top: calc(100vh - 10px);}
}

.slideOut
{
    animation: slideOutAnim 2s ease 0s 1 forwards;
}
.slideIn
{
    animation: slideInAnim 2s ease 0s 1 forwards;
}
@keyframes slideOutAnim
{
    from {left: 0vw;}
    to   {left: -100vw;}
}
@keyframes slideInAnim
{
    from {left: 100vw;}
    to   {left: 0vw;}
}