*
{
    cursor: none !important;
}
body
{
    font-family: "Cabin", sans-serif;
    color: #F5F5F5;
    
    animation: bck 5s ease 0s infinite alternate;

    text-align: center;
}
.content
{
    vertical-align: middle;
    padding-top: 5em;
}

@keyframes bck
{
    from {background-color: #0F0F23;}
    to   {background-color: #1C1C43;}
}

.logo
{
    width: 35%;
    background-color: #2B81D9;
    border-radius: 20px;
}
.big-text
{
    font-size: 10em;
    font-weight: 700;
    color: #FF9A56;
}
.mid-text
{
    font-size: 7.5em;
    font-weight: 600;
}
.small-text
{
    font-size: 5em;
    font-weight: 400;
}